.version.my_profile /* version checker */
{
	color: #0000EF;
	background-color: #03A3EF;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 674.5500000000006px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -37px;
}

#pu430
{
	width: 0.01px;
	margin-left: -100px;
}

#u430
{
	z-index: 2;
	width: 1160px;
	position: relative;
	margin-right: -10000px;
}

#u449-4
{
	z-index: 4;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 376px;
}

#u1372
{
	z-index: 101;
	width: 156px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 156px;
	left: 695px;
}

#menuu432
{
	z-index: 8;
	width: 1160px;
	left: -100px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u433
{
	width: 191px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
}

#u436
{
	width: 191px;
	background-color: #A4231D;
	-moz-border-radius: 0px 0px 0px 10px ;
	-webkit-border-radius: 0px 0px 0px 10px ;
	-khtml-border-radius: 0px 0px 0px 10px ;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 30px;
	position: relative;
}

#u436:hover
{
	background-color: #999999;
	margin: 0px;
}

#u440
{
	width: 191px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 193px;
}

#u441
{
	width: 191px;
	background-color: #A4231D;
	padding-bottom: 30px;
	position: relative;
}

#u441:hover
{
	background-color: #999999;
	margin: 0px;
}

#u438-4,#u444-4
{
	width: 191px;
	min-height: 17px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u476
{
	width: 192px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 386px;
}

#u477
{
	width: 192px;
	background-color: #C4C4C4;
	padding-bottom: 30px;
	position: relative;
}

#u477.MuseMenuActive
{
	background-color: #700000;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
}

#u478-4
{
	width: 192px;
	min-height: 17px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 0px;
}

#u565
{
	width: 192px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 580px;
}

#u568
{
	width: 192px;
	background-color: #A4231D;
	padding-bottom: 30px;
	position: relative;
}

#u568:hover
{
	background-color: #999999;
	margin: 0px;
}

#u641
{
	width: 192px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 774px;
}

#u642
{
	width: 192px;
	background-color: #A4231D;
	padding-bottom: 30px;
	position: relative;
}

#u642:hover
{
	background-color: #999999;
	margin: 0px;
}

#u813
{
	width: 192px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 968px;
}

#u816
{
	width: 192px;
	background-color: #A4231D;
	-moz-border-radius: 0px 0px 10px 0px ;
	-webkit-border-radius: 0px 0px 10px 0px ;
	-khtml-border-radius: 0px 0px 10px 0px ;
	border-radius: 0px 0px 10px 0px ;
	padding-bottom: 30px;
	position: relative;
}

#u816:hover
{
	background-color: #999999;
	margin: 0px;
}

#u436:active,#u441:active,#u568:active,#u642:active,#u816:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u569-4,#u645-4,#u818-4
{
	width: 192px;
	min-height: 17px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1348-4
{
	z-index: 97;
	display: block;
	vertical-align: top;
	left: -89px;
	margin-top: 10px;
	position: relative;
}

#u1086-42
{
	z-index: 55;
	width: 1147px;
	min-height: 692px;
	left: -94px;
	margin-top: 33px;
	position: relative;
}

#u1086-4,#u1086-6,#u1086-8,#u1086-13,#u1086-15,#u1086-17,#u1086-19
{
	font-size: 21px;
	text-align: justify;
	line-height: 25px;
}

#u1086-2,#u1086-11,#u1086-23,#u1086-31
{
	font-size: 21px;
	text-align: center;
	line-height: 25px;
	font-weight: bold;
}

#u1086-9,#u1086-20,#u1086-21,#u1086-25,#u1086-27,#u1086-28,#u1086-29,#u1086-33,#u1086-35,#u1086-37,#u1086-39
{
	font-size: 21px;
	line-height: 25px;
}

#u451
{
	z-index: 45;
	width: 1159px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #700000;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 10px;
	left: -100px;
	margin-top: 62px;
	position: relative;
}

#u455-9
{
	z-index: 46;
	width: 491px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 334px;
}

#u455-2
{
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
	font-style: italic;
}

#u455-5
{
	color: #FFFFFF;
	font-weight: bold;
	font-style: italic;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}
